@import "tailwindcss";

.hero {
  text-align: center;
  padding: 80px 20px;
}

.logo {
  width: 120px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply bg-black text-white font-sans;
}

.featureIcon {
  @apply p-4 rounded-full bg-black;
  position: relative;
  z-index: 0;
}

.featureIcon::before {
  content: '';

  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -1px;
  z-index: -1;
  border-radius: 999999px;
  background: linear-gradient(135deg, #ff3cac, #784ba0, #2b86c5);
  box-shadow: 0 0 10px #ff3cac, 0 0 20px #784ba0, 0 0 30px #2b86c5;
}

.modal {
  background: #1f2028;
  padding: 30px 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 450px;
  position: relative;
  color: #fff;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.hero button {
  background-color: #e78c6d;
  color: #000;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}